.header {
    background-color: #1f2937;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    margin: 0;
  }
  
  .nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }
  
  .nav-links li a {
    color: #fff;
    text-decoration: none;
    padding: 0.5rem;
    transition: all 0.3s ease;
  }
  
  .nav-links li a:hover {
    color: #ccc;
  }
  
  .user-info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  
  .user-info p {
    margin: 0.2rem 0;
  }
  
  .user-info button {
    background-color: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 0.5rem;
    padding: 0;
    transition: all 0.3s ease;
  }
  
  .user-info button:hover {
    color: #ccc;
  }
  